# Private key buraya YAZILMAZ; cast wallet import ile keystore kullanılır.
# Kaynak: docs.arc.io/arc/references/connect-to-arc (5 Ekim 2026'da RPC ile doğrulandı)
# Testnet chainId 5042002, mainnet chainId 5042
ARC_TESTNET_RPC_URL=https://rpc.testnet.arc.io
ARC_RPC_URL=https://rpc.mainnet.arc.io
