# Private key buraya YAZILMAZ; cast wallet import ile keystore kullanılır.
# Kaynak: docs.arc.io/arc/references/connect-to-arc (5 Ekim 2026'da RPC ile doğrulandı)
ARC_TESTNET_RPC_URL=https://rpc.testnet.arc.io   # chainId 5042002
ARC_RPC_URL=https://rpc.mainnet.arc.io           # chainId 5042
